body {
  padding: 0; margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: Merriweather, Palatino;
  font-size: 5.2ex;
  font-weight: bold;
  color: #199ea5;
}

h2 {
  font-size: 4.5ex;
  font-weight: bold;
}

h3 {
  font-size: 3ex;
  font-weight: bold;
}

p {
  line-height: 1.4;
  font-size: 21px;
}

header {
  background-color: white;
  position: sticky;
  top: 0;
  padding-top: 1rem;
  line-height: 45px;
  border-bottom: 2px solid #f0f0f0;
}

header ul li {
  display: inline-block;
}

header a {
  font-size: 15px;
  color: #199ea5;
  text-decoration: none;
  padding: 25px 15px 25px 15px;
  margin: 10px 5px 10px 5px; */
}

header a:hover {
  background-color: #eee;
}

header a[href='./index.html'] {
  font-size: 19px;
}

table, th, td {
  /* border: 1px solid; */
  border-collapse: collapse;
  padding: 8px;
}
